{:kotoba.app/id "cloud.itonami.isic-3211", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreic5jsuhlkshke2yodbi34ph6zp3zsrqhgdsyrxbab5adwqaaas7uu", :kotoba.app/embed-url "ipfs://bafkreic5jsuhlkshke2yodbi34ph6zp3zsrqhgdsyrxbab5adwqaaas7uu", :published {:archive "https://kotobase.net/ipfs/bafkreic5jsuhlkshke2yodbi34ph6zp3zsrqhgdsyrxbab5adwqaaas7uu", :size 72693, :put-status 201, :get-status 200, :at "2026-08-15T13:49:44.891Z"}}
